# Prettier Ignore
# Also respects .gitignore

# @kitschpatrol/prettier-config boilerplate
.claude/
package-lock.json
pnpm-lock.yaml
skills-lock.json

# Customizations
templates/electron/electron/resources/mac/entitlements.mac.plist
